@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  color: pink;
  background-color: black;
  /* margin-top: -10px; */
}

/* HEADER */
header {
  display: none;
}

/* NAVBAR */
nav {
  height: 60px;
  margin-top: 0;
  background-color: #2f2e2e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* z-index: 10; */
  margin-left: -10px;
  margin-right: -10px;
  /* padding-top: 10px; */
  position: fixed;
  width: 100vw;
}

.nav-items {
  /* max-width: 1700px; */
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
}

.nav-items a {
  opacity: .9;
  color: white;
  text-decoration: none;
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
}

nav a:hover {
  opacity: 0.6
}

/* FOOTER */
footer {
  background-color: #2f2e2e;
  text-align: center;
  margin: -10px;
  color: white;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif
  /* position: absolute; */
}

#dev-credit {
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.9;
}

#author {
  font-family: 'Berkshire Swash';
  opacity: 0.9;
}

footer img {
  height: 50px;
  width: auto;
}

/* HOME */
#logo-background {
  margin: -10px;
  margin-bottom: -20px;
  background-image: url("https://i.imgur.com/5crjtOr.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: red; */
}

#home-img{
  display: flex;
  justify-content: center;
  padding: 210px;
}

.home-social-container {
  text-align: center;
  height: 200px;
}

.home-social-link {
  height: 50px;
  width: auto;
}

.intro {
  height: 600px;
  /* margin-top: -20px; */
  margin: -10px;
  background-image: url("https://i.imgur.com/w3EpdHZ.png");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sales-pitch {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 200px;

}

/* VEHICLES */
/* #vehicles-return {
  /* margin-top: 30px; */
  /* height: 500px; */
  /* margin-bottom: 30px; */


#vehicles-return {
  color: black;
  background-color: pink;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 100px;
  padding-bottom: 100px;
  /* height: 500px; */
  /* margin: auto; */
  /* padding: 20px; */
  text-align: center;
  /* margin-top: 30px;
  margin-bottom: 30px; */
}

/* #about-title {
  font-size: x-large;
} */

/* #vehicles-container {
  border: 5px solid red;
  background-color: white;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
} */

/* .review-img {
  border-radius: 50%;
  margin: 5px;
  height: 200px;
  width: auto;
} */

/* .vehicle{
  padding: 5px;
  color: red;
} */

/* ABOUT */

.about-return {

  margin: -10px;
  margin-bottom: -20px;
  background-image: url("https://i.imgur.com/gGJSKOJ.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 250px;
  padding: 250px;
}


#about-container {
  color: black;
  background-color: white;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  min-width: 300px;
}

#about-title {
  font-size: x-large;
} 

/* TESTIMONIALS */
#testimonials-return {
  /* margin-top: 30px; */
  margin-bottom: 30px;
  padding-top: 50px;
  
}

.review-container {
  background-color: white;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.review-img {
  border-radius: 50%;
  margin: 5px;
  height: 200px;
  width: auto;
}

.review{
  padding: 5px;
}

.review-name {
  font-size: x-large;
}

.review-content{
  color: gray;
}

/* CONTACT */
#contact-return {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 40px;
  padding-bottom: 80px;
}

#contact-return img {
  align-self: center;
  height: 150px;
  width: 200px;
}

#contact-form{
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

#form-name{
  text-align: center;
}

#form-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#form-left-column {
  display: flex;
  flex-direction: column;
}

#form-right-column {
  display: flex;
  flex-direction: column;
}

#contact-submit-btn{
  background-color: black;
  color: white;
}



/* ACCOUNT */

#account-return {
  background-color: pink;
  padding-top: 90px;
  padding-bottom: 50px;
  margin-left: -10px;
  margin-right: -10px;
}

#account-container {
  color: black;
  background-color: white;
  max-width: 500px;
  margin: auto;

  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#account-title {
  font-size: x-large;
}