body {
  color: pink;
  background-color: black;
}

/* HEADER */
header {
  display: none;
}

/* NAVBAR */
nav {
  height: 60px;
  margin-top: 0;
  background-color: #2f2e2e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  opacity: .9;
  transition: 0.3s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: small;
}

nav a:hover {opacity: 0.6}

/* HOME */
#home-img{
  display: flex;
  justify-content: center;
}

/* FOOTER */
footer {
  text-align: center;
}

/* ABOUT */

#about-return {
  color: black;
  background-color: white;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#about-title {
  font-size: x-large;
}

/* CONTACT */
#contact-return {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#contact-return img {
  align-self: center;
  height: 150px;
  width: 200px;
}

#contact-form{
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

#form-name{
  text-align: center;
}

#form-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#form-left-column {
  display: flex;
  flex-direction: column;
}

#form-right-column {
  display: flex;
  flex-direction: column;
}

#contact-submit-btn{
  background-color: black;
  color: white;
}